body, html {
    margin: 0;
    font-family: "Actay", cursive;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #f7f7f7;
}

h3 {
    /*the white-space is here a special case for the unicode character in text to not break*/
    white-space: nowrap;
    /*font size is responsive. At biggest screen it is 6.5 rem and at least is 2 rem*/
    font-size: clamp(2rem, -0.875rem + 8.333vw, 6rem);
    color: #f4f4f4;
    text-transform: uppercase;
    font-weight: 400;
    margin: auto auto 0;
}

/*Start of navigation (too lazy to move things to separate files, for the sake of this project)*/

nav {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: linear-gradient(to right, #3b3b3b, #6f6f6f);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-transform: uppercase;
    transition: top 0.5s ease-in-out;
    height: 150px;
    align-items: center;
}

.nav-logo {
    color: white;
    padding: 1rem;
}

.nav-logo img {
    width: 170px;
    height: 70px;
    margin: 30px;
}

.nav-items {
    font-size: clamp(1rem, 3 * (1vw + 1vh) / 2, 1.5rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.nav-items a:hover {
    transform: scale(1.05);
}

/*End of navigation*/

main {
    margin-top: 100px;
}

/*Make feedback rectangle disappear on mobile*/
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


.introduction-section-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #f7f7f7 0%, #6f6f6f 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*mobile devices height*/
@media screen and (max-width: 768px) {
    .introduction-section-container {
        height: 80vh;
    }
}

.introduction-section {
    margin: 50px;
}

.introduction-section h1 #first {
    font-size: clamp(3rem, -0.875rem + 8.333vw, 7rem);
    font-weight: 900;
    color: #3b3b3b;
    margin: 0;
    letter-spacing: 1rem;
    word-spacing: 1rem;
    line-height: 1.3;
    /*// a shadow please for the header that looks clean and elegant, don't exaggerate it though*/
    text-shadow: 10px 10px 65px #3b3b3b;
}

.introduction-section h1 #second {
    font-size: clamp(3rem, -0.875rem + 8.333vw, 6rem);
}

.introduction-section h1 a {
    text-decoration: none;
    color: #3b3b3b;
}

.introduction-section h1 #third {
    cursor: pointer;
    /*we want the border bottom to match with the shadow*/
    border-bottom: 5px solid #3b3b3b;
    transition: box-shadow 0.2s ease-in-out;
}

.introduction-section h1 #third:hover {
    box-shadow: 10px 8px 5px #3b3b3b;
}

.portal-section-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #6f6f6f 0%, #5b5b5b 60%);
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.portal-section {
    margin: 50px 50px 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.portal-section > img {
    width: clamp(400px, 50vw, 750px);
    height: clamp(400px, 50vw, 750px);
    object-fit: cover;
}

.portal-info-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    text-align: center;
    background: linear-gradient(to bottom, #7F7F7F 0%, #5B5B5B 60%);
}

.portal-info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 50px;
}

.portal-info-text {
    max-width: 600px;
    text-align: justify;
    font-size: clamp(1rem, 3 * (1vw + 1vh) / 2, 1.5rem);
    color: #f4f4f4;
    margin: 32px;
    padding: 0;
}

.portal-info-map-container {
    margin: 0;
}

.portal-info-map {
    width: clamp(400px, 50vw, 800px);
    height: clamp(200px, 25vw, 400px);
}

.portal-pros-section-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #5b5b5b 0%, #7f7f7f 60%);
}

.portal-pros-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: 50px;
}

.portal-pros-section li {
    list-style-type: none;
    margin: 25px;
    padding: 32px;
    text-transform: uppercase;
    font-size: clamp(0.8rem, -0.875rem + 8.333vw, 2rem);
    color: #f4f4f4;
    border-radius: 10px;
    background: #5b5b5b;
    box-shadow: 0 0 10px #5b5b5b;
}

.portal-pros-section li:nth-child(1) {
    grid-column: 1 / auto;
    grid-row: 1 / auto;
}

.portal-pros-section li:nth-child(2) {
    grid-column: 2 / auto;
    grid-row: 2 / auto;
}

.portal-pros-section li:nth-child(3) {
    grid-column: 3 / auto;
    grid-row: 3 / auto;
}

.portal-locations-container {
    justify-self: flex-end;
}

/*Animation stuff for slider - start*/

.slide-in {
    animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-out {
    animation: slideOut 0.3s ease-in-out;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(90%);
    }
}

.slide-in-right {
    animation: slideInRight 0.3s ease-in-out;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-out-right {
    animation: slideOutRight 0.3s ease-in-out;
}

@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-90%);
    }
}

/*Animation stuff for slider - end*/

/*Slider CSS start*/
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider p {
    width: clamp(50px, 30vw, 300px);
    font-size: clamp(2rem, 3 * (1vw + 1vh) / 2, 5rem);
    color: #f6f6f6;
    margin: 0 5rem;
    text-transform: uppercase;
}

.clickable-item {
    cursor: pointer;
    width: clamp(50px, 8 * (1vw + 1vh) / 2, 200px) !important;
    height: clamp(50px, 8 * (1vw + 1vh) / 2, 200px) !important;
    /*    disable icon selection*/
    user-select: none; /* Standard */
}

.clickable-item {
    filter: drop-shadow(3px 5px 2px rgb(147, 145, 145));
}

.clickable-item:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.08);
}

.hex {
    transform: rotate(90deg);
    /*is important to rotate unicode-characters*/
    display: inline-block;
}

/*Slider CSS end*/

/*start of fonts*/

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/Actay-Regular.otf") format("opentype");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/Actay-RegularItalic.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/ActayCondensed-Thin.otf") format("opentype");
    font-weight: 100;
    font-display: fallback;
}

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/ActayCondensed-ThinItalic.otf") format("opentype");
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/ActayWide-Bold.otf") format("opentype");
    font-weight: bold;
    font-display: fallback;
}

@font-face {
    font-family: "Actay";
    src: local("Actay"), url("./font/ActayWide-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

/*end of fonts*/

/*start of scroll bar design, change it to rounded with no background*/

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar * {
    background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*end of scroll bar design*/